*.project
Arbeit/Masterarbeit.pdf
*.aux
*.log
*.gz
*.toc
*.pdf
Simulation/target/
*.class
Simulation/PS-Products/PS-Simulation-Product/target/
Simulation/PS-Products/PS-Analysis-Product/target/
*.out
*.nav
*.snm
Simulation/PS-Utils/src/generated/
